@keyframes fillProgress {
    from {
      width: 0;
    }
    to {
      width: var(--progress-width);
    }
  }
  
  .animate-progress {
    animation: fillProgress 2s forwards;
  }
  
  .animate-progress {
    width: var(--progress-width);
    transition: width 1.5s ease-in-out;
  }
  
  

.circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px; /* Adjust based on your needs */
}

.outer-circle {
    background-color: rgba(135, 206, 235, 0.5); /* Sky Blue with 50% opacity */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.middle-circle {
    background-color: #40A2D8; /* Blue color */
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle {
    background-color: #1c1c1c; /* Gray color */
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.timeline {
    position: relative;
}

.timeline-year {
    position: absolute;
    left: -65px; /* Adjust as needed */
    width: 78px;
    transform: translateY(-5px);
    transform: translateX(-28px);
    text-align: right;
}

.timeline-year span {
    display: block;
    font:600 /* Color for the year text */
}
.timeline-content {
    transform: translateY(-4px);
}










.circle-container-exp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px; /* Adjust based on your needs */
}

.outer-circle-exp {
    background-color: rgba(135, 206, 235, 0.5); /* Sky Blue with 50% opacity */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.middle-circle-exp {
    background-color: #8b60b6; /* Blue color */
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle-exp {
    background-color: #1c1c1c; /* Gray color */
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.timeline-exp {
    position: relative;
}

.timeline-year-exp {
    position: absolute;
    left: -64px; /* Adjust as needed */
    width: 78px;
    transform: translateY(-5px);
    transform: translateX(-28px);
    text-align: right;
}

.timeline-year-exp span {
    display: block;
    font:600 /* Color for the year text */
}
.timeline-content-exp {
    transform: translateY(-4px);
}


  





.relative {
    position: relative; /* Ensure that the parent container is positioned */
}

.dots-pattern {
    position: absolute; /* Ensure the dots are positioned absolutely within the relative container */
    bottom: -5px; /* Position below the text */
    right: -30px; /* Adjust alignment to the right */
    width: 48px; /* 8 dots * 6px size */
    height: 24px; /* 4 dots * 6px size */
    background-image: radial-gradient(circle, #40A2D8 1px, transparent 1px);
    background-size: 6px 6px; /* Dot size with spacing */
    opacity: 65%;
    z-index: 0; /* Behind the text */
}

.font-spartan {
    position: relative; /* Ensure the text has a stacking context */
    z-index: 10; /* Ensure the text is in front of the dots */
}


.title-2 {
    position: relative; 
    z-index: 10; 
}

.dots-pattern-t2 {
    position: absolute; /* Ensure the dots are positioned absolutely within the relative container */
    bottom: 20px; /* Ajuster pour que ce soit sous le texte */
    right: -20px; /* Adjust alignment to the right */
    width: 36px; /* 8 dots * 6px size */
    height: 18px; /* 4 dots * 6px size */
    background-image: radial-gradient(circle, #40A2D8 1px, transparent 1px);
    background-size: 6px 6px; /* Dot size with spacing */
    opacity: 65%;
    z-index: 0; /* Behind the text */
}

.dots-pattern-skills {
    position: absolute; /* Ensure the dots are positioned absolutely within the relative container */
    bottom: 0px; /* Ajuster pour que ce soit sous le texte */
    right: -20px; /* Adjust alignment to the right */
    width: 36px; /* 8 dots * 6px size */
    height: 18px; /* 4 dots * 6px size */
    background-image: radial-gradient(circle, #40A2D8 1px, transparent 1px);
    background-size: 6px 6px; /* Dot size with spacing */
    opacity: 65%;
    z-index: 0; /* Behind the text */
}