<div class="flex flex-col space-y-4 p-0 box-border">

  <!-- Pick up line -->
  <div
    class="2xl:text-7xl text-4xl font-extrabold transform transition duration-700 ease-out"
    [class.translate-x-[-100%]]="!animateSections"
    [class.opacity-0]="!animateSections"
    [style.transitionDelay]="'100ms'"
  >
    I build custom website solutions that help your 
    <span class="text-[#2EC7E2]" style="text-shadow: 1px 1px 2px #2EC7E2">business grow</span>
  </div>

  <!-- what i do -->
  <div
    class="text-lg pt-4 opacity-75 transform transition duration-700 ease-out"
    [class.translate-x-[100%]]="!animateSections"
    [class.opacity-0]="!animateSections"
    [style.transitionDelay]="'400ms'"
  >
    I craft smart, scalable web solutions with 
    <span class="text-[#2EC7E2]">Java</span> and 
    <span class="text-[#2EC7E2]">Angular</span>. Passionate, experienced, and ready to bring your ideas to life ...
  </div>

  <!-- projects -->
  <div
    class="flex flex-row pt-8 space-x-10 transform transition duration-700 ease-out"
    [class.translate-y-[100%]]="!animateSections"
    [class.opacity-0]="!animateSections"
    [style.transitionDelay]="'1000ms'"
  >
    @for (project of projects; track $index) {
    <div (click)="redirectToProject(project.name)" class="w-52 bg-black text-white rounded-2xl overflow-hidden relative m-0 p-0 
         transform transition-transform duration-300 hover:scale-105"
         (mouseenter)="hoveredIndex = $index"
         (mouseleave)="hoveredIndex = null">
        <div class="relative m-0 p-0">
            <img 
              [src]="project.img" 
              [alt]="project.title"
              class="w-full h-auto m-0 p-0 opacity-80"
            />
            <img 
              src="/assets/pics/css.png" 
              alt="Decoration" 
              class="absolute bottom-0 right-0 w-20 h-20 pointer-events-none m-0 p-0"
            />
            <button
              class="absolute bottom-2 right-2 w-8 h-8 rounded-full flex items-center justify-center bg-black text-white border border-white
                     transition hover:bg-white hover:text-black hover:border-black overflow-hidden"
            >
              <i
                *ngIf="hoveredIndex !== $index"
                class="pi pi-arrow-right text-sm absolute transition-opacity duration-300 ease-in-out opacity-100"
                style="transform-origin: center;"
              ></i>
              <i
                *ngIf="hoveredIndex === $index"
                class="pi pi-arrow-up-right text-sm absolute transition-opacity duration-300 ease-in-out opacity-100"
                style="transform-origin: center;"
              ></i>
            </button>
        </div>
    
        <div class="p-0 my-3">
          <h2 class="text-lg text-gray-300 font-bold">{{project.title}}</h2>
          <p class="text-sm md:text-[7px] lg:text-sm text-gray-300 opacity-70 mt-1">
           {{project.description}}
          </p>
        </div>

    </div>
    }
    <div routerLink="/projects" class="flex flex-row  w-40 h-40 justify-items-center items-center justify-center">
        <i class="p-3 xl:p-6 pi pi-arrow-right text-2xl bg-black text-white rounded-full border border-white hover:bg-white hover:text-black hover:border-black hover:cursor-pointer"></i>
    </div>
  </div>

</div>
