<div>
    <div class="hidden lg:inline-block relative">
        <p class="font-spartan text-2xl z-10">Projects</p>
        <div class="dots-pattern"></div>
    </div>



    <div class="card flex justify-content-center">
        <p-carousel 
            [value]="projects" 
            [numVisible]="1" 
            [numScroll]="1" 
            orientation="horizontal" 
            verticalViewPortHeight="260px">
                <ng-template let-product pTemplate="item">
                    <div class="border-1 surface-border border-round m-2 p-3">
                        <div class="mb-6 flex flex-row justify-center w-full">
                            <div class="relative mx-auto">
                                <img 
                                    [src]="product.img" 
                                    [alt]="product.name" 
                                    class=" border-round" />
                            </div>
                        </div>
                        <div class="mb-3 ps-6 font-semibold text-xl">{{ product.name }}</div>
                        <div class="flex ps-6 justify-content-between align-items-center">
                            <div class="mt-0">
                                {{ product.description }}
                            </div>
                            <span>
                                <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                                <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                            </span>
                        </div>
                    </div>
                </ng-template>
        </p-carousel>
    </div>



    
</div>