<div>
    <div class="hidden lg:inline-block relative">
        <p class="font-spartan text-2xl z-10">Projects</p>
        <div class="dots-pattern"></div>
    </div>

  <div
    class="grid grid-cols-1 gap-x-0 gap-y-8 justify-items-center lg:grid-cols-3 lg:gap-x-4 lg:gap-y-12 pt-8"
  >
    @for (project of projects; track $index) {
    <div class="w-[80%] lg:w-40 xl:w-52 2xl:w-72 bg-black text-white rounded-2xl overflow-hidden relative m-0 p-0 
         transform transition-transform duration-300 hover:scale-105"
         (mouseenter)="hoveredIndex = $index"
  (mouseleave)="hoveredIndex = null">
        <div class="relative m-0 p-0">
            <img 
              [src]="project.img" 
              [alt]="project.title"
              class="w-full h-auto m-0 p-0 opacity-80"
            />
            <img 
              src="/assets/pics/css.png" 
              alt="Decoration" 
              class="absolute bottom-0 right-0 w-20 h-20 pointer-events-none m-0 p-0"
            />
            <button
              class="absolute bottom-2 right-2 w-8 h-8 rounded-full flex items-center justify-center bg-black text-white border border-white
                     transition hover:bg-white hover:text-black hover:border-black overflow-hidden"
            >
              <i
                *ngIf="hoveredIndex !== $index"
                class="pi pi-arrow-right text-sm absolute transition-opacity duration-300 ease-in-out opacity-100"
                style="transform-origin: center;"
              ></i>
              <i
                *ngIf="hoveredIndex === $index"
                class="pi pi-arrow-up-right text-sm absolute transition-opacity duration-300 ease-in-out opacity-100"
                style="transform-origin: center;"
              ></i>
            </button>
        </div>
    
        <div class="p-0 my-3">
          <h2 class="text-lg text-gray-300 font-bold">{{project.title}}</h2>
          <p class="text-sm md:text-[7px] lg:text-sm text-gray-300 opacity-70 mt-1">
           {{project.description}}
          </p>
        </div>

    </div>
    }
  </div>
    

    
</div>